@model MarketAnalyticHub.Models.UserCredit

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>UserCredit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalCredits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalCredits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsedCredits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsedCredits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserProfile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserProfile.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
