@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<html lang="en" class="light-style layout-navbar-fixed layout-wide" dir="ltr" data-theme="theme-default"
      data-assets-path="/assets/" data-template="market-analitys-hub" data-style="light"
      >
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icons/marketanalytichub_icon_192x192.png">
    <title>Home Page | Market Analytics Hub</title>

    <meta name="description" content="Most Powerful Market Analizer Hub">
    <meta name="keywords" content="dashboard, stock markets, portfolio management Analizer Hub, Market Analizer Hub">
    <!-- Canonical SEO -->
    <link rel="canonical" href="https://cantinhode.net">

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon/favicon.ico">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&amp;display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/assets/vendor/fonts/boxicons.css">
    <!-- Core CSS -->
    <link rel="stylesheet" href="/assets/css/demo.css">
    <link rel="stylesheet" href="/assets/vendor/css/pages/front-page.css">
    <!-- Vendors CSS -->
    <link rel="stylesheet" href="/assets/vendor/libs/nouislider/nouislider.css">
    <link rel="stylesheet" href="/assets/vendor/libs/swiper/swiper.css">
    <!-- Page CSS -->
    <link rel="stylesheet" href="/assets/vendor/css/pages/front-page-landing.css">
    <!-- Helpers -->
    <script src="/assets/vendor/js/helpers.js"></script>
    <style type="text/css">
        .layout-menu-fixed .layout-navbar-full .layout-menu,
        .layout-menu-fixed-offcanvas .layout-navbar-full .layout-menu {
            top: 78.82500457763672px !important;
        }

        .layout-page {
            padding-top: 78.82500457763672px !important;
        }

        .content-wrapper {
            padding-bottom: 0px !important;
        }
    </style>
   

    <script src="/assets/js/front-config.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/vendor/css/rtl/core.css"
          class="template-customizer-core-css">
    <link rel="stylesheet" type="text/css" href="/assets/vendor/css/rtl/theme-default.css"
          class="template-customizer-theme-css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&amp;display=swap">
    
</head>

<body>
    <script src="/assets/vendor/js/dropdown-hover.js"></script>
    <script src="/assets/vendor/js/mega-dropdown.js"></script>

    <!-- Navbar: Start -->
    @Html.Partial("_Header")
    <!-- Navbar: End -->
    <!-- Sections:Start -->


    <div data-bs-spy="scroll" class="scrollspy-example">
        <!-- Hero: Start -->
        @Html.Partial("_Hero")
        <!-- Hero: End -->
        <!-- Useful features: Start -->
        @Html.Partial("_Useful")

        <!-- Useful features: End -->
        <!-- Real customers reviews: Start -->
       @*  @Html.Partial("_Customer") *@
        <!-- Real customers reviews: End -->
        <!-- Our great team: Start -->
      @*   @Html.Partial("_Team") *@
        <!-- Our great team: End -->
        <!-- Pricing plans: Start -->
        @Html.Partial("_Planes")
        <!-- Pricing plans: End -->
        <!-- Fun facts: Start -->
        @Html.Partial("_Funfacts")
        <!-- Fun facts: End -->
        <!-- FAQ: Start -->
        @Html.Partial("_Faqs")
        <!-- FAQ: End -->
        <!-- CTA: Start -->
        @Html.Partial("_CTA")
        <!-- CTA: End -->
        <!-- Contact Us: Start -->
        @Html.Partial("_ContactUs")
        <!-- Contact Us: End -->
    </div>

    <!-- / Sections:End -->
    <!-- Footer: Start -->
    @Html.Partial("_Footer")
    <!-- Footer: End -->
    <div class="buy-now">
        <a href="https://cantinhode.net/pages/market-analitys-hub/" target="_blank"
           class="btn btn-danger btn-buy-now">Buy Now</a>
    </div>
    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="/assets/vendor/libs/popper/popper.js"></script>
    <script src="/assets/vendor/js/bootstrap.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="/assets/vendor/libs/nouislider/nouislider.js"></script>
    <script src="/assets/vendor/libs/swiper/swiper.js"></script>
    <!-- Main JS -->
    <script src="/assets/js/front-main.js"></script>
    <!-- Page JS -->
    <script src="/assets/js/front-page-landing.js"></script>
    <script>
        // main.js (or your main JavaScript file)
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register('/service-worker.js')
                .then(registration => {
                    console.log('Service Worker registered with scope:', registration.scope);

                    return registration.pushManager.subscribe({
                        userVisibleOnly: true,
                        applicationServerKey: 'BAHCnaav358XuBDKIUrvUzFDib9ltb4GkimwfGviBX8Ngny6jC-hF6YajvDUo1-MKAdcrQ1SHpAqgBDVMfQi4tA'
                    });
                })
                .then(subscription => {
                    // Send subscription to your server
                    return fetch('/api/push/send', {
                        method: 'POST',
                        body: JSON.stringify(subscription),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    });
                })
                .catch(error => {
                    console.error('Service Worker registration or Push Subscription failed:', error);
                });
        }

    </script>
</body>
</html>
