@model MarketAnalyticHub.Models.Portfolio.Transaction

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_ContentNavbarLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Transaction</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PortfolioItem)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PortfolioItem.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SellDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SellDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Commission)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Commission)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Revenue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
