@model List<MarketAnalyticHub.Models.Portfolio.Portfolio>
<div class="col-md-12 table-container">
    <div class="card">
        <h5 class="card-title">
            <button class="btn btn-link btn-block text-left" onclick="toggleCollapse('events-table')">
                <i class="fas fa-table"></i> Events Analyzer
            </button>
        </h5>
        <div id="events-table" class="collapse show">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col"><i class="fas fa-calendar-day"></i> Date</th>
                                <th scope="col"><i class="fas fa-info-circle"></i> Event Name</th>
                                <th scope="col"><i class="fas fa-file-alt"></i> Details</th>
                                <th scope="col"><i class="fas fa-chart-line"></i> Impact</th>
                                <th scope="col"><i class="fas fa-smile"></i> Sentiment</th>
                                <th scope="col"><i class="fas fa-link"></i> Source</th>
                                <th scope="col"><i class="fas fa-ellipsis-v"></i> Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var portfolio in Model)
                            {
                                foreach (var stock in portfolio.Items)
                                {
                                    foreach (var stockEvent in stock.StockEvents)
                                    {
                                        <tr>
                                            <td>@stockEvent.Date</td>
                                            <td>@stockEvent.EventName</td>
                                            <td>@stockEvent.Details</td>
                                            <td class="@stockEvent.Impact.ToLower()">@stockEvent.Impact</td>
                                            <td class="@stockEvent.Sentiment.ToLower()">@stockEvent.Sentiment</td>
                                            <td><a href="@stockEvent.Source" class="@stockEvent.Sentiment.ToLower()">Link</a></td>
                                            <td>
                                                <div class="btn-group" role="group">
                                                    <a class="btn btn-secondary" href="/StockEvents/Details/@stockEvent.Id"><i class="fas fa-eye"></i> View More</a>
                                                    <a class="btn btn-primary" href="/StockEvents/Edit/@stockEvent.Id"><i class="fas fa-edit"></i> Edit</a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
