@model IEnumerable<MarketAnalyticHub.Models.StockEvent>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Portfolio Manager";
}

<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">@Localizer["StockEvents Manager"] /</span> @Localizer["StockEvents"]
</h4>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

@if (!Model.Any())
{
    <div class="list-group">
        <div class="list-group-item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">No Stock Events Available</h5>
                    <p class="card-text">There are no stock events to display at the moment. Please check back later or create a new stock event.</p>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="list-group">
        @foreach (var item in Model)
        {
            <div class="list-group-item">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.EventName)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">@Html.DisplayFor(modelItem => item.Date)</h6>
                        <p class="card-text"><strong>Details:</strong> @Html.DisplayFor(modelItem => item.Details)</p>
                        <p class="card-text"><strong>Impact:</strong> @Html.DisplayFor(modelItem => item.Impact)</p>
                        <p class="card-text"><strong>Sentiment:</strong> @Html.DisplayFor(modelItem => item.Sentiment)</p>
                        <p class="card-text"><strong>Source:</strong> @Html.DisplayFor(modelItem => item.Source)</p>
                        <p class="card-text"><strong>Price:</strong> @Html.DisplayFor(modelItem => item.Price)</p>
                        <p class="card-text"><strong>Price Change:</strong> @Html.DisplayFor(modelItem => item.PriceChange)</p>
                        <p class="card-text"><strong>Portfolio Item:</strong> @Html.DisplayFor(modelItem => item.PortfolioItem.Id)</p>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="card-link">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="card-link">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="card-link">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
}
