@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
    <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
        <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
            <span class="app-brand-logo demo">
                @await Html.PartialAsync("../_Partials/_Macros")
            </span>
            <span class="app-brand-text demo menu-text fw-bold ms-2">@TempData.Peek("appName")</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
            <i class="bx bx-chevron-left bx-sm d-flex align-items-center justify-content-center"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
    <ul class="menu-inner py-1">
        <!-- Dashboards -->
        <li class='menu-item@(currentPage.EndsWith("/") || currentPage.StartsWith("/Dashboards/") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div>Indicators</div>
                <div class="badge bg-danger rounded-pill ms-auto">1</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Dashboards/Index" ? " active" : "")'>
                    <a asp-controller="Dashboards" asp-action="Index" class="menu-link">
                        <div>Analytics</div>
                    </a>

                </li>

            </ul>
        </li>
        <!-- Portfolio -->
        <li class='menu-item@(currentPage.StartsWith("/Portfolio") || currentPage.StartsWith("/StockEvents") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx bx-archive"></i>
                <div>Portfolio</div>
            </a>

            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Portfolio/Index" ? " active" : "")'>
                    <a asp-controller="Portfolio" asp-action="Index" class="menu-link">
                        <div>Overview</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/PortfolioItems/Index" ? " active" : "")'>
                    <a asp-controller="PortfolioItems" asp-action="Index" class="menu-link">
                        <div>Transactions</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Portfolio/Dividends" ? " active" : "")'>
                    <a asp-controller="Portfolio" asp-action="Dividends" class="menu-link">
                        <div>Dividends</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Portfolio/DividendsCalendar" ? " active" : "")'>
                    <a asp-controller="Portfolio" asp-action="DividendsCalendar" class="menu-link">
                        <div>Dividends Calendar</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/StockEvents/Index" ? " active" : "")'>
                    <a asp-controller="StockEvents" asp-action="Index" class="menu-link">
                        <div>Events</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Portfolio/Fundamentals" ? " active" : "")'>
                    <a asp-controller="Portfolio" asp-action="Fundamentals" class="menu-link">
                        <div>Fundamentals</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Portfolio/Qualitatives" ? " active" : "")'>
                    <a asp-controller="Portfolio" asp-action="Qualitatives" class="menu-link">
                        <div>Qualitatives</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Portfolio/LossesManager" ? " active" : "")'>
                    <a asp-controller="Portfolio" asp-action="LossesManager" class="menu-link">
                        <div>Losses Manager</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Research -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Research</span>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Sources") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-archive"></i>
                <div>Sources</div>
            </a>

            <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/Sources/News" ? " active" : "")'>
                    <a asp-controller="Sources" asp-action="News" class="menu-link">
                        <div>News</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/APilot") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div>Vizualize</div>
            </a>

            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/APilot/News" ? " active" : "")'>
                    <a asp-controller="APilot" asp-action="News" class="menu-link">
                        <div>News</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/NewsRSS/Index" ? " active" : "")'>
                    <a asp-controller="NewsRSS" asp-action="Index" class="menu-link">
                        <div>Rss Search</div>
                    </a>
                </li>

            </ul>
        </li>

        <li class='menu-item@(currentPage.StartsWith("/SentimentAnalizer") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-cube-alt"></i>
                <div>Analizer</div>
            </a>

            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/SentimentAnalizer/Index" ? " active" : "")'>
                    <a asp-controller="SentimentAnalizer" asp-action="Index" class="menu-link">
                        <div>News Events</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/SentimentAnalizer/PredictiveSearch" ? " active" : "")'>
                    <a asp-controller="SentimentAnalizer" asp-action="PredictiveSearch" class="menu-link">
                        <div>Analytics</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/SentimentAnalizer/Forecast" ? " active" : "")'>
                    <a asp-controller="SentimentAnalizer" asp-action="Forecast" class="menu-link">
                        <div>Forecast</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/SentimentAnalizer/Playground" ? " active" : "")'>
                    <a asp-controller="SentimentAnalizer" asp-action="Playground" class="menu-link">
                        <div>Playground</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/SentimentAnalizer/SearchNews" ? " active" : "")'>
                    <a asp-controller="SentimentAnalizer" asp-action="SearchNews" class="menu-link">
                        <div>News</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Search/ChatAiPilot" ? " active" : "")'>
                    <a asp-controller="Search" asp-action="ChatAiPilot" class="menu-link">
                        <div>Ai-Pilot</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Search/Index" ? " active" : "")'>
                    <a asp-controller="Search" asp-action="Index" class="menu-link">
                        <div>Search</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/SentimentAnalizer/Calendar" ? " active" : "")'>
                    <a asp-controller="SentimentAnalizer" asp-action="Calendar" class="menu-link">
                        <div>Economic Events</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/SentimentAnalizer/SearchSymbols" ? " active" : "")'>
                    <a asp-controller="SentimentAnalizer" asp-action="SearchSymbols" class="menu-link">
                        <div>Symbols</div>
                    </a>
                </li>

            </ul>
        </li>

        <!-- Configurations -->
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Configuration</span>
        </li>
        <!-- Sources -->
        <li class='menu-item@(currentPage == "/Configurations/News" ? " active" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx bx-archive"></i>
                <div>Sources</div>
            </a>
            <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/Configurations/News" ? " active" : "")'>
                    <a asp-controller="Configurations" asp-action="News" class="menu-link">
                        <div>News</div>
                    </a>
                </li>
              
                <li class='menu-item@(currentPage == "/RSSLinks/Index" ? " active" : "")'>
                    <a asp-controller="RSSLinks" asp-action="Index" class="menu-link">
                        <div>Rss Setup</div>
                    </a>
                </li>
               
                <li class='menu-item@(currentPage == "/Symbols/Index" ? " active" : "")'>
                    <a asp-controller="Symbols" asp-action="Index" class="menu-link">
                        <div>My Symbols</div>
                    </a>
                </li>
            </ul>
        </li>

        <!-- Admin Area -->
        @if (User.IsInRole("Admin"))
        {
            <li class='menu-item@(currentPage.StartsWith("/Admin") ? " active open" : "")' )'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx bx-archive"></i>
                    <div>Admin Area</div>
                </a>
                <ul class="menu-sub">

                    <li class='menu-item@(currentPage == "/Admin/Users/Index" ? " active" : "")'>
                        <a href="/Admin/Users/Index" class="menu-link">
                            <div>Users</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/Admin/UserRoles/Index" ? " active" : "")'>
                        <a href="/Admin/UserRoles/Index" class="menu-link">
                            <div>User Roles</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "Admin/RoleManager/Index" ? " active" : "")'>
                        <a href="/Admin/RoleManager/Index" class="menu-link">
                            <div>Role Manager</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "Admin/UserManagement/Index" ? " active" : "")'>
                        <a href="/Admin/UserManagement/Index" class="menu-link">
                            <div>User Management</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/PortfolioIndexing/Index" ? " active" : "")'>
                        <a asp-controller="PortfolioIndexing" asp-action="Index" class="menu-link">
                            <div>List Indices Elastic</div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/PortfolioIndexing/IndexPortfolioData" ? " active" : "")'>
                        <a asp-controller="PortfolioIndexing" asp-action="IndexPortfolioData" class="menu-link">
                            <div>Process Portfolio </div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/PortfolioIndexing/UpdatePortfolioDataPrices" ? " active" : "")'>
                        <a asp-controller="PortfolioIndexing" asp-action="UpdatePortfolioDataPrices" class="menu-link">
                            <div>Update Portfolio Data Prices</div>
                        </a>
                    </li>

                </ul>
            </li>

        }
        else
        {
            <li class='menu-item@(currentPage.StartsWith("/Admin") ? " active open" : "")' )'>
                <a href="javascript:void(0);" class="menu-link menu-toggle">
                    <i class="menu-icon tf-icons bx bx bx-archive"></i>
                    <div>Admin Area</div>
                </a>
                <ul class="menu-sub">

                    <li class='menu-item@(currentPage == "/PortfolioIndexing/IndexPortfolioData" ? " active" : "")'>
                        <a asp-controller="PortfolioIndexing" asp-action="IndexPortfolioData" class="menu-link">
                            <div>Process Portfolio </div>
                        </a>
                    </li>
                    <li class='menu-item@(currentPage == "/PortfolioIndexing/UpdatePortfolioDataPrices" ? " active" : "")'>
                        <a asp-controller="PortfolioIndexing" asp-action="UpdatePortfolioDataPrices" class="menu-link">
                            <div>Update Portfolio Data Prices</div>
                        </a>
                    </li>

                </ul>
            </li>

        }

        <li class='menu-item@(currentPage.StartsWith("/Sectors") ? " active open" : "")' )'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx bx-archive"></i>
                <div>Sectors</div>
            </a>
            <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/Sectors/Index" ? " active" : "")'>
                    <a asp-controller="Sectors" asp-action="Index" class="menu-link">
                        <div>List</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Sectors/Create" ? " active" : "")'>
                    <a asp-controller="Sectors" asp-action="Create" class="menu-link">
                        <div>Sectors</div>
                    </a>
                </li>
            </ul>
        </li>
        <li class='menu-item@(currentPage.StartsWith("/Companies") ? " active open" : "")' )'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx bx-archive"></i>
                <div>Companies</div>
            </a>
            <ul class="menu-sub">

                <li class='menu-item@(currentPage == "/Companies/Index" ? " active" : "")'>
                    <a asp-controller="Companies" asp-action="Index" class="menu-link">
                        <div>List</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Companies/Create" ? " active" : "")'>
                    <a asp-controller="Companies" asp-action="Create" class="menu-link">
                        <div>Create</div>
                    </a>
                </li>
            </ul>
        </li>
          <!-- Settings -->
      
        <li class='menu-item@(currentPage.StartsWith("/Pages/Account") || currentPage.StartsWith("/UserProfiles") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons bx bx-dock-top"></i>
                <div>Account Settings</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/Pages/AccountSettings" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="AccountSettings" class="menu-link">
                        <div>Account</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Pages/AccountSettingsNotifications" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="AccountSettingsNotifications" class="menu-link">
                        <div>Notifications</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/Pages/AccountSettingsConnections" ? " active" : "")'>
                    <a asp-controller="Pages" asp-action="AccountSettingsConnections" class="menu-link">
                        <div>Connections</div>
                    </a>
                </li>
                <li class='menu-item@(currentPage == "/UserProfiles/Index" ? " active" : "")'>
                    <a asp-controller="UserProfiles" asp-action="Index" class="menu-link">
                        <div>Billing</div>
                    </a>
                </li>

            </ul>
        </li>


        <!-- Help Center -->
        <li class="menu-header small text-uppercase"><span class="menu-header-text">Help Center</span></li>
        <li class="menu-item">
            <a href='@TempData.Peek("support")' target="_blank" class="menu-link">
                <i class="menu-icon tf-icons bx bx-support"></i>
                <div>Support</div>
            </a>
        </li>
        <li class="menu-item">
            <a href='@TempData.Peek("documentation")' target="_blank" class="menu-link">
                <i class="menu-icon tf-icons bx bx-file"></i>
                <div>Documentation</div>
            </a>
        </li>
    </ul>

</aside>
<!-- / Menu -->
