@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<div class="row">
    <div class="col-lg-2 col-md-6 col-12 mb-4">
        <div class="card shadow-sm border-0 rounded">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <img src="~/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded" style="width: 40px; height: 40px;">
                    </div>
                
                </div>
                <span class="fw-medium d-block mb-1">@Localizer["Investment Cust"]</span>
                <h4 id="totalCustMarketValue" class="card-title">€0</h4>
                <small class="fw-medium">&nbsp; </small>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-12 mb-4">
        <div class="card shadow-sm border-0 rounded">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <img src="~/img/icons/unicons/chart-success.png" alt="chart success" class="rounded" style="width: 40px; height: 40px;">
                    </div>
                  
                </div>
                <span class="fw-medium d-block mb-1">@Localizer["Market Value"]</span>
                <h4 id="totalMarketValue" class="card-title">€0</h4>
                <small class="fw-medium">&nbsp; </small>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-12 mb-4">
        <div class="card shadow-sm border-0 rounded">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <img src="~/img/icons/unicons/chart.png" alt="chart" class="rounded" style="width: 40px; height: 40px;">
                    </div>
                 
                </div>
                <span class="fw-medium d-block mb-1">@Localizer["Total Percentage"]</span>
                <h4 id="totalPortfolioPercentage" class="card-title">0%</h4>
                <small class="fw-medium">&nbsp; </small>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-12 mb-4">
        <div class="card shadow-sm border-0 rounded">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <img src="~/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded" style="width: 40px; height: 40px;">
                    </div>
                 
                </div>
                <span class="fw-medium d-block mb-1">Dividends</span>
                <h4 id="dividends" class="card-title text-nowrap">€0.00</h4>
                <small class=" fw-medium">&nbsp;</small>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-12 mb-4">
        <div class="card shadow-sm border-0 rounded">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <img src="~/img/icons/unicons/chart-success.png" alt="chart" class="rounded" style="width: 40px; height: 40px;">
                    </div>
                   
                </div>
                <span class="fw-medium d-block mb-1">@Localizer["Profit no div."]</span>
                <h4 id="totalDifferenceValue" class="card-title">€N/A</h4>
                <small class=" fw-medium"><i id="totalDifferenceIcon" class='bx bx-down-arrow-alt'></i> <span id="totalDifferencePercentage">0%</span></small>
            </div>
        </div>
    </div>
    <div class="col-lg-2 col-md-6 col-12 mb-4">
        <div class="card shadow-sm border-0 rounded">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <img src="~/img/icons/unicons/chart-success.png" alt="chart" class="rounded" style="width: 40px; height: 40px;">
                    </div>
                  
                </div>
                <span class="fw-medium d-block mb-1">@Localizer["Profit total"]</span>
                <h4 id="totalProfit" class="card-title">€N/A</h4>
                <small class="fw-medium"><i id="totalProfitIcon" class='bx bx-up-arrow-alt'></i> <span id="totalProfitDifferencePercentage">0%</span></small>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="row mb-3">
            <!-- Dropdown Actions for Portfolio Management -->
            <div class="col-12 col-md-6 mb-2 mb-md-0">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="portfolioActionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Portfolio Actions
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="portfolioActionsDropdown">
                        <li><a class="dropdown-item" href="#" onclick="showAddPortfolioModal()"><i class="bx bx-plus-circle me-2"></i>Add a new Portfolio</a></li>
                        <li><a class="dropdown-item" href="#" onclick="exportPortfolios('xlsx')"><i class="bx bx-file me-2"></i>Export Portfolios (Excel)</a></li>
                        <li><a class="dropdown-item" href="#" onclick="exportPortfolios('csv')"><i class="bx bx-file me-2"></i>Export Portfolios (CSV)</a></li>
                    </ul>
                </div>
            </div>

            <!-- Dropdown Actions for Import and Chart Type -->
            <div class="col-12 col-md-6 d-flex flex-column flex-md-row justify-content-end">
                <div class="dropdown mb-2 mb-md-0">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="importActionsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                        Import & Chart Options
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="importActionsDropdown">
                        <li>
                            <a class="dropdown-item" href="#" onclick="document.getElementById('importFile').click()">
                                <i class="bx bx-import me-2"></i>Import Portfolios
                            </a>
                            <input type="file" id="importFile" style="display: none;" accept=".xlsx,.csv" onchange="importPortfolios(event)">
                        </li>
                        <li>
                            <a class="dropdown-item" href="#" onclick="document.getElementById('importFileYhaoo').click()">
                                <i class="bx bxl-yahoo me-2"></i>Import Portfolios Yahoo
                            </a>
                            <input type="file" id="importFileYhaoo" style="display: none;" accept=".xlsx,.csv" onchange="importPortfoliosYahoo(event)">
                        </li>
                        <li>
                            <div class="dropdown-divider"></div>
                        </li>
                        <li>
                            <div class="px-3 py-2">
                                <label for="chartTypeSelect" class="form-label mb-1"><i class="bx bx-chart me-2"></i>Chart Type</label>
                                <select id="chartTypeSelect" class="form-select" onchange="changeChartType(event)">
                                    <option value="bar" selected>Bar</option>
                                    <option value="line">Line</option>
                                    <option value="candlestick">Candlestick</option>
                                </select>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

