@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Portfolio Manager";
}

<h4 class="py-3 mb-4">
    <span class="text-muted fw-light">@Localizer["Portfolio Manager"] /</span> @Localizer["Portfolios"]
</h4>
<div class="row">
    <div class="col-lg-6 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <img src="~/img/icons/unicons/chart-success.png" alt="chart" class="rounded">
                    </div>
                    <div class="dropdown">
                        <button class="btn p-0" type="button" id="cardOpt9" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt9">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                        </div>
                    </div>
                </div>
                <span class="fw-medium d-block mb-1">@Localizer["Profit"]</span>
                <h3 id="totalDifferenceValue" class="card-title mb-2">€0</h3>
                <small class="fw-medium"><i id="totalDifferenceIcon" class='bx bx-up-arrow-alt'></i> <span id="totalDifferencePercentage">€0</span></small>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <div class="card-title d-flex align-items-start justify-content-between">
                    <div class="avatar flex-shrink-0">
                        <img src="~/img/icons/unicons/chart-success.png" alt="chart success" class="rounded">
                    </div>
                    <div class="dropdown">
                        <button class="btn p-0" type="button" id="cardOpt3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="bx bx-dots-vertical-rounded"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt3">
                            <a class="dropdown-item" href="javascript:void(0);">View More</a>
                            <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                        </div>
                    </div>
                </div>
                <span class="fw-medium d-block mb-1">@Localizer["Total Market Value"]</span>
                <h3 id="totalMarketValue" class="card-title mb-2">€0</h3>
                <small class="fw-medium"><i class='bx bx-cube'></i> </small>
            </div>
        </div>
    </div>
  
 
</div>

<div class="row">
    <div class="col-lg-12 col-md-12 order-1">
        <div class="row">
            <div class="col-lg-4 col-md-12 col-12 mb-4">
               
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="~/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded">
                            </div>
                            <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                            </div>
                        </div>
                        <span>@Localizer["Total Cust Market Value"]</span>
                        <h3 id="totalCustMarketValue" class="card-title text-nowrap mb-1">€0</h3>
                        <small class="fw-medium"><i class='bx bx-cube'></i> </small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="~/img/icons/unicons/wallet-info.png" alt="Credit Card" class="rounded">
                            </div>
                            <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt6" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt6">
                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                            </div>
                        </div>
                        <span>Dividends</span>
                        <h3 id="dividends" class="card-title text-nowrap mb-1">€0</h3>
                        <small class="text-success fw-medium"><i class='bx bx-cube'></i></small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12 mb-4">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title d-flex align-items-start justify-content-between">
                            <div class="avatar flex-shrink-0">
                                <img src="~/img/icons/unicons/chart.png" alt="chart" class="rounded">
                            </div>
                            <div class="dropdown">
                                <button class="btn p-0" type="button" id="cardOpt9" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt9">
                                    <a class="dropdown-item" href="javascript:void(0);">View More</a>
                                    <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                                </div>
                            </div>
                        </div>
                        <span class="fw-medium d-block mb-1">Total Portfolio Percentage</span>
                        <h3 id="totalPortfolioPercentage" class="card-title mb-2">€0</h3>
                          <small class="fw-medium"><i class='bx bx-cube'></i> </small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row mb-3">
            <div class="col-12 col-md-6 mb-2 mb-md-0 d-flex flex-column flex-md-row justify-content-start">
                <button class="btn btn-primary mb-2 mb-md-0 me-md-2" onclick="showAddPortfolioModal()">Add a new Portfolio</button>
                <button class="btn btn-success mb-2 mb-md-0 me-md-2 " onclick="exportPortfolios('xlsx')">Export Portfolios (Excel)</button>
                <button class="btn btn-success mb-2 mb-md-0" onclick="exportPortfolios('csv')">Export Portfolios (CSV)</button>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column flex-md-row justify-content-end">
                <input type="file" id="importFile" style="display: none;" accept=".xlsx,.csv" onchange="importPortfolios(event)">
                <button class="btn btn-secondary mb-2 mb-md-0 me-md-2" onclick="document.getElementById('importFile').click()">Import Portfolios</button>
                <select id="chartTypeSelect" class="form-select" onchange="changeChartType(event)">
                    <option value="bar" selected>Bar</option>
                    <option value="line">Line</option>
                    <option value="candlestick">Candlestick</option>
                </select>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-body">
                <!-- Loading Spinner -->
                <div id="loadingSpinner" class="text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <!-- Portfolio List -->
                <div id="portfolioList" style="display: none;">
                    <!-- Portfolio list will be rendered here -->
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial("_AddPortfolioModal")
@Html.Partial("_EditPortfolioModal")
@Html.Partial("_AddPortfolioItemModal")
@Html.Partial("_EditPortfolioItemModal")
@Html.Partial("_TransactionsModal")
<!-- Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
@section PageScripts {
    <script src="~/js/pages/portfolio/portfolio.js"></script>
    <script src="~/js/pages/portfolio/importexportportfolio.js"></script>
    <script src="~/js/pages/portfolio/editportfolio.js"></script>
    <script src="~/js/pages/portfolio/editportfolioitem.js"></script>
    <script src="~/js/pages/portfolio/statsportfolio.js"></script>
    <script src="~/js/pages/portfolio/utilsportfolio.js"></script>
    <script src="~/js/pages/portfolio/chartsportfolio.js"></script>
    <script src="~/js/pages/portfolio/editportfolioitemtransactions.js"></script>
}
