@model MarketAnalyticHub.Models.UserProfile

<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="row">
            <!-- User Sidebar -->
            <div class="col-xl-4 col-lg-5 order-1 order-md-0">
                <!-- User Card -->
                <div class="card mb-6">
                    <div class="card-body pt-12">
                        <div class="user-avatar-section">
                            <div class="d-flex align-items-center flex-column">
                                <img class="img-fluid rounded mb-4" src="@Model.AvatarUrl" height="120" width="120" alt="User avatar">
                                <div class="user-info text-center">
                                    <h5>@Model.FirstName @Model?.LastName</h5>
                                    <span class="badge bg-label-secondary">@Model.Role</span>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-around flex-wrap my-6 gap-0 gap-md-3 gap-lg-4">
                            <div class="d-flex align-items-center me-5 gap-4">
                                <div class="avatar">
                                    <div class="avatar-initial bg-label-primary rounded w-px-40 h-px-40">
                                        <i class="bx bx-check bx-lg"></i>
                                    </div>
                                </div>
                                <div>
                                    <h5 class="mb-0">1.23k</h5>
                                    <span>Task Done</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center gap-4">
                                <div class="avatar">
                                    <div class="avatar-initial bg-label-primary rounded w-px-40 h-px-40">
                                        <i class="bx bx-customize bx-lg"></i>
                                    </div>
                                </div>
                                <div>
                                    <h5 class="mb-0">568</h5>
                                    <span>Project Done</span>
                                </div>
                            </div>
                        </div>
                        <h5 class="pb-4 border-bottom mb-4">Details</h5>
                        <div class="info-container">
                            <ul class="list-unstyled mb-6">
                                <li class="mb-2">
                                    <span class="h6">Username:</span>
                                    <span>@Model.Username</span>
                                </li>
                                <li class="mb-2">
                                    <span class="h6">Email:</span>
                                    <span>@Model.Email</span>
                                </li>
                                <li class="mb-2">
                                    <span class="h6">Status:</span>
                                    <span>@Model.Status</span>
                                </li>
                                <li class="mb-2">
                                    <span class="h6">Role:</span>
                                    <span>@Model.Role</span>
                                </li>
                                <li class="mb-2">
                                    <span class="h6">Tax id:</span>
                                    <span>@Model.TaxId</span>
                                </li>
                                <li class="mb-2">
                                    <span class="h6">Contact:</span>
                                    <span>@Model.Contact</span>
                                </li>
                                <li class="mb-2">
                                    <span class="h6">Languages:</span>
                                    <span>@string.Join(", ", Model.Languages)</span>
                                </li>
                                <li class="mb-2">
                                    <span class="h6">Country:</span>
                                    <span>@Model.Country</span>
                                </li>
                            </ul>
                            <div class="d-flex justify-content-center">
                                <a href="javascript:;" class="btn btn-primary me-4" data-bs-target="#editUser" data-bs-toggle="modal">Edit</a>
                                <a href="javascript:;" class="btn btn-label-danger suspend-user">Suspend</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /User Card -->
                <!-- Plan Card -->
                <div class="card mb-6 border border-2 border-primary rounded primary-shadow">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-start">
                            <span class="badge bg-label-primary">Standard</span>
                            <div class="d-flex justify-content-center">
                                <sub class="h5 pricing-currency mb-auto mt-1 text-primary">$</sub>
                                <h1 class="mb-0 text-primary">99</h1>
                                <sub class="h6 pricing-duration mt-auto mb-3 fw-normal">month</sub>
                            </div>
                        </div>
                        <ul class="list-unstyled g-2 my-6">
                            <li class="mb-2 d-flex align-items-center"><i class="bx bxs-circle bx-6px text-secondary me-2"></i><span>10 Users</span></li>
                            <li class="mb-2 d-flex align-items-center"><i class="bx bxs-circle bx-6px text-secondary me-2"></i><span>Up to 10 GB storage</span></li>
                            <li class="mb-2 d-flex align-items-center"><i class="bx bxs-circle bx-6px text-secondary me-2"></i><span>Basic Support</span></li>
                        </ul>
                        <div class="d-flex justify-content-between align-items-center mb-1">
                            <span class="h6 mb-0">Days</span>
                            <span class="h6 mb-0">26 of 30 Days</span>
                        </div>
                        <div class="progress mb-1">
                            <div class="progress-bar" role="progressbar" style="width: 65%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <small>4 days remaining</small>
                        <div class="d-grid w-100 mt-6">
                            <button class="btn btn-primary" data-bs-target="#upgradePlanModal" data-bs-toggle="modal">Upgrade Plan</button>
                        </div>
                    </div>
                </div>
                <!-- /Plan Card -->
            </div>
            <!--/ User Sidebar -->
            <!-- User Content -->
            <div class="col-xl-8 col-lg-7 order-0 order-md-1">
                <!-- User Pills -->
                <div class="nav-align-top">
                    <ul class="nav nav-pills flex-column flex-md-row mb-6">
                        <li class="nav-item"><a class="nav-link" href="/Pages/AccountSettings"><i class="bx bx-user me-1_5 bx-sm"></i>Account</a></li>
                        <!--/   <li class="nav-item"><a class="nav-link" href="app-user-view-security.html"><i class="bx bx-lock-alt me-1_5 bx-sm"></i>Security</a></li>-->
                        <li class="nav-item"><a class="nav-link active" href="javascript:void(0);"><i class="bx bx-detail me-1_5 bx-sm"></i>Billing &amp; Plans</a></li>
                        <li class="nav-item"><a class="nav-link" href="/Pages/AccountSettingsNotifications"><i class="bx bx-bell me-1_5 bx-sm"></i>Notifications</a></li>
                        <li class="nav-item"><a class="nav-link" href="Pages/AccountSettingsConnectionsl"><i class="bx bx-link me-1_5 bx-sm"></i>Connections</a></li>
                    </ul>
                </div>
                <!--/ User Pills -->
                <!-- Current Plan -->
                <div class="card mb-6">
                    <h5 class="card-header">Current Plan</h5>
                    <div class="card-body">
                        <div class="row row-gap-4 row-gap-xl-0">
                            <div class="col-xl-6 order-1 order-xl-0">
                                <div class="mb-4">
                                    <h6 class="mb-1">Your Current Plan is Basic</h6>
                                    <p>A simple start for everyone</p>
                                </div>
                                <div class="mb-4">
                                    <h6 class="mb-1">Active until Dec 09, 2021</h6>
                                    <p>We will send you a notification upon Subscription expiration</p>
                                </div>
                                <div class="mb-xl-6">
                                    <h6 class="mb-1"><span class="me-1">$199 Per Month</span> <span class="badge bg-label-primary">Popular</span></h6>
                                    <p class="mb-0">Standard plan for small to medium businesses</p>
                                </div>
                            </div>
                            <div class="col-xl-6 order-0 order-xl-0">
                                <div class="alert alert-warning" role="alert">
                                    <h5 class="alert-heading mb-1">We need your attention!</h5>
                                    <span>Your plan requires update</span>
                                </div>
                                <div class="plan-statistics">
                                    <div class="d-flex justify-content-between">
                                        <h6 class="mb-1">Days</h6>
                                        <h6 class="mb-1">26 of 30 Days</h6>
                                    </div>
                                    <div class="progress mb-1" style="height: 10px;">
                                        <div class="progress-bar w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <small>Your plan requires update</small>
                                </div>
                            </div>
                            <div class="col-12 order-2 order-xl-0 d-flex flex-wrap row-gap-4">
                                <button class="btn btn-primary me-4" data-bs-toggle="modal" data-bs-target="#upgradePlanModal">Upgrade Plan</button>
                                <button class="btn btn-label-danger cancel-subscription">Cancel Subscription</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Current Plan -->
                <!-- Payment Methods -->
                <div class="card card-action mb-6">
                    <div class="card-header align-items-center">
                        <h5 class="card-action-title mb-0">Payment Methods</h5>
                        <div class="card-action-element">
                            <button class="btn btn-primary btn-sm" type="button" data-bs-toggle="modal" data-bs-target="#addNewCCModal"><i class="bx bx-plus bx-xs me-1_5"></i>Add Card</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="added-cards">
                            @foreach (var payment in Model.PaymentMethods)
                            {
                                <div class="cardMaster border p-6 rounded mb-4">
                                    <div class="d-flex justify-content-between flex-sm-row flex-column">
                                        <div class="card-information">
                                            <img class="mb-2" src="~/images/@payment.CardType.ToLower().Replace(" ", "-")-cc.png" alt="@payment.CardType" height="25">
                                            <div class="d-flex align-items-center mb-2">
                                                <h6 class="mb-0 me-2">@payment.CardName</h6>
                                                @if (payment.IsPrimary)
                                                {
                                                    <span class="badge bg-label-primary me-1">Primary</span>
                                                }
                                            </div>
                                            <span class="card-number">@payment.CardNumber</span>
                                        </div>
                                        <div class="d-flex flex-column text-start text-lg-end">
                                            <div class="d-flex order-sm-0 order-1">
                                                <button class="btn btn-sm btn-label-primary me-4" data-bs-toggle="modal" data-bs-target="#editCCModal" data-card-id="@payment.CardNumber">Edit</button>
                                                <button class="btn btn-sm btn-label-danger" data-card-id="@payment.CardNumber">Delete</button>
                                            </div>
                                            <small class="mt-sm-4 mt-2 order-sm-1 order-0 text-sm-end mb-2">Card expires at @payment.ExpiryDate.ToString("MM/yy")</small>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <!--/ Payment Methods -->
                <!-- Billing Address -->
                <div class="card card-action mb-4">
                    <div class="card-header align-items-center flex-wrap gap-2">
                        <h5 class="card-action-title mb-0">Billing Address</h5>
                        <div class="card-action-element">
                            <button class="btn btn-primary btn-sm edit-address" type="button" data-bs-toggle="modal" data-bs-target="#addNewAddress"><i class="bx bx-plus bx-xs me-1_5"></i>Edit address</button>
                        </div>
                    </div>
                    <div class="card-body">
                        @foreach (var address in Model.Addresses)
                        {
                            if (address.IsBillingAddress)
                            {
                                <div class="row">
                                    <div class="col-xl-7 col-12">
                                        <dl class="row mb-0 gx-2">
                                            <dt class="col-sm-4 mb-sm-2 text-nowrap fw-medium text-heading">Company Name:</dt>
                                            <dd class="col-sm-8">Kelly Group</dd>

                                            <dt class="col-sm-4 mb-sm-2 text-nowrap fw-medium text-heading">Billing Email:</dt>
                                            <dd class="col-sm-8">@Model.Email</dd>

                                            <dt class="col-sm-4 mb-sm-2 text-nowrap fw-medium text-heading">Tax ID:</dt>
                                            <dd class="col-sm-8">@Model.TaxId</dd>

                                            <dt class="col-sm-4 mb-sm-2 text-nowrap fw-medium text-heading">VAT Number:</dt>
                                            <dd class="col-sm-8">SDF754K77</dd>

                                            <dt class="col-sm-4 mb-sm-2 text-nowrap fw-medium text-heading mb-0">Billing Address:</dt>
                                            <dd class="col-sm-8 mb-xl-0">@address.AddressLine1 <br>@address.AddressLine2<br>@address.City, @address.State @address.ZipCode</dd>
                                        </dl>
                                    </div>
                                    <div class="col-xl-5 col-12">
                                        <dl class="row mb-0 gx-2">
                                            <dt class="col-sm-4 mb-sm-2 text-nowrap fw-medium text-heading">Contact:</dt>
                                            <dd class="col-sm-8">@Model.Contact</dd>

                                            <dt class="col-sm-4 mb-sm-2 text-nowrap fw-medium text-heading">Country:</dt>
                                            <dd class="col-sm-8">@address.Country</dd>

                                            <dt class="col-sm-4 mb-sm-2 text-nowrap fw-medium text-heading">State:</dt>
                                            <dd class="col-sm-8">@address.State</dd>

                                            <dt class="col-sm-4 mb-sm-2 text-nowrap fw-medium text-heading">Zipcode:</dt>
                                            <dd class="col-sm-8">@address.ZipCode</dd>
                                        </dl>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!--/ Billing Address -->
            </div>
            <!--/ User Content -->
        </div>

        <!-- Modal -->
        <!-- Edit User Modal -->
        <div class="modal fade" id="editUser" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-simple modal-edit-user">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="text-center mb-6">
                            <h4 class="mb-2">Edit User Information</h4>
                            <p>Updating user details will receive a privacy audit.</p>
                        </div>
                        <form class="row g-6" asp-action="Edit" method="post">
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditUserFirstName">First Name</label>
                                <input type="text" id="modalEditUserFirstName" name="FirstName" class="form-control" value="@Model.FirstName">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditUserLastName">Last Name</label>
                                <input type="text" id="modalEditUserLastName" name="LastName" class="form-control" value="@Model.LastName">
                            </div>
                            <div class="col-12">
                                <label class="form-label" for="modalEditUserName">Username</label>
                                <input type="text" id="modalEditUserName" name="Username" class="form-control" value="@Model.Username">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditUserEmail">Email</label>
                                <input type="email" id="modalEditUserEmail" name="Email" class="form-control" value="@Model.Email">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditUserStatus">Status</label>
                                <div class="position-relative">
                                    <div class="position-relative">
                                        <select id="modalEditUserStatus" name="Status" class="form-select">
                                            <option value="Active" selected=@(Model.Status == "Active" ? "selected" : "")>Active</option>
                                            <option value="Inactive" selected=@(Model.Status == "Inactive" ? "selected" : "")>Inactive</option>
                                            <option value="Suspended" selected=@(Model.Status == "Suspended" ? "selected" : "")>Suspended</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditTaxID">Tax ID</label>
                                <input type="text" id="modalEditTaxID" name="TaxId" class="form-control" value="@Model.TaxId">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditUserPhone">Phone Number</label>
                                <div class="input-group">
                                    <span class="input-group-text">US (+1)</span>
                                    <input type="text" id="modalEditUserPhone" name="Contact" class="form-control" value="@Model.Contact">
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditUserLanguage">Language</label>
                                <div class="position-relative">
                                    <div class="position-relative">
                                        <select id="modalEditUserLanguage" name="Languages" class="form-select" multiple>
                                            <option value="English" selected=@(Model.Languages.Contains("English") ? "selected" : "")>English</option>
                                            <option value="Spanish" selected=@(Model.Languages.Contains("Spanish") ? "selected" : "")>Spanish</option>
                                            <option value="French" selected=@(Model.Languages.Contains("French") ? "selected" : "")>French</option>
                                            <option value="German" selected=@(Model.Languages.Contains("German") ? "selected" : "")>German</option>
                                            <option value="Dutch" selected=@(Model.Languages.Contains("Dutch") ? "selected" : "")>Dutch</option>
                                            <option value="Hebrew" selected=@(Model.Languages.Contains("Hebrew") ? "selected" : "")>Hebrew</option>
                                            <option value="Sanskrit" selected=@(Model.Languages.Contains("Sanskrit") ? "selected" : "")>Sanskrit</option>
                                            <option value="Hindi" selected=@(Model.Languages.Contains("Hindi") ? "selected" : "")>Hindi</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditUserCountry">Country</label>
                                <div class="position-relative">
                                    <div class="position-relative">
                                        <select id="modalEditUserCountry" name="Country" class="form-select">
                                            <option value="Australia" selected=@(Model.Country == "Australia" ? "selected" : "")>Australia</option>
                                            <option value="Bangladesh" selected=@(Model.Country == "Bangladesh" ? "selected" : "")>Bangladesh</option>
                                            <option value="Belarus" selected=@(Model.Country == "Belarus" ? "selected" : "")>Belarus</option>
                                            <option value="Brazil" selected=@(Model.Country == "Brazil" ? "selected" : "")>Brazil</option>
                                            <option value="Canada" selected=@(Model.Country == "Canada" ? "selected" : "")>Canada</option>
                                            <option value="China" selected=@(Model.Country == "China" ? "selected" : "")>China</option>
                                            <option value="France" selected=@(Model.Country == "France" ? "selected" : "")>France</option>
                                            <option value="Germany" selected=@(Model.Country == "Germany" ? "selected" : "")>Germany</option>
                                            <option value="India" selected=@(Model.Country == "India" ? "selected" : "")>India</option>
                                            <option value="Indonesia" selected=@(Model.Country == "Indonesia" ? "selected" : "")>Indonesia</option>
                                            <option value="Israel" selected=@(Model.Country == "Israel" ? "selected" : "")>Israel</option>
                                            <option value="Italy" selected=@(Model.Country == "Italy" ? "selected" : "")>Italy</option>
                                            <option value="Japan" selected=@(Model.Country == "Japan" ? "selected" : "")>Japan</option>
                                            <option value="Korea" selected=@(Model.Country == "Korea" ? "selected" : "")>Korea, Republic of</option>
                                            <option value="Mexico" selected=@(Model.Country == "Mexico" ? "selected" : "")>Mexico</option>
                                            <option value="Philippines" selected=@(Model.Country == "Philippines" ? "selected" : "")>Philippines</option>
                                            <option value="Russia" selected=@(Model.Country == "Russia" ? "selected" : "")>Russian Federation</option>
                                            <option value="South Africa" selected=@(Model.Country == "South Africa" ? "selected" : "")>South Africa</option>
                                            <option value="Thailand" selected=@(Model.Country == "Thailand" ? "selected" : "")>Thailand</option>
                                            <option value="Turkey" selected=@(Model.Country == "Turkey" ? "selected" : "")>Turkey</option>
                                            <option value="Ukraine" selected=@(Model.Country == "Ukraine" ? "selected" : "")>Ukraine</option>
                                            <option value="United Arab Emirates" selected=@(Model.Country == "United Arab Emirates" ? "selected" : "")>United Arab Emirates</option>
                                            <option value="United Kingdom" selected=@(Model.Country == "United Kingdom" ? "selected" : "")>United Kingdom</option>
                                            <option value="United States" selected=@(Model.Country == "United States" ? "selected" : "")>United States</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-switch my-2 ms-2">
                                    <input type="checkbox" class="form-check-input" id="editBillingAddress" name="IsBillingAddress" checked="@Model.Addresses.Any(a => a.IsBillingAddress)">
                                    <label for="editBillingAddress" class="switch-label">Use as a billing address?</label>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary me-3">Submit</button>
                                <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Edit User Modal -->
        <!-- Add New Credit Card Modal -->
        <div class="modal fade" id="editCCModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-simple modal-add-new-cc">
                <div class="modal-content p-4 p-md-12">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="text-center mb-6">
                            <h2>Edit Card</h2>
                            <p class="text-muted">Edit your saved card details</p>
                        </div>
                        <form id="editCCForm" class="row g-3 fv-plugins-bootstrap5 fv-plugins-framework" asp-action="EditPaymentMethod" method="post">
                            <div class="col-12 fv-plugins-icon-container">
                                <label class="form-label w-100" for="modalEditCard">Card Number</label>
                                <div class="input-group input-group-merge has-validation">
                                    <input id="modalEditCard" name="CardNumber" class="form-control credit-card-mask-edit" type="text" placeholder="4356 3215 6548 7898" aria-describedby="modalEditCard2">
                                    <span class="input-group-text cursor-pointer" id="modalEditCard2"><span class="card-type-edit"><img src="~/images/visa-cc.png" height="20"></span></span>
                                </div>
                                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalEditName">Name</label>
                                <input type="text" id="modalEditName" name="CardName" class="form-control" placeholder="John Doe">
                            </div>
                            <div class="col-6 col-md-3">
                                <label class="form-label" for="modalEditExpiryDate">Exp. Date</label>
                                <input type="text" id="modalEditExpiryDate" name="ExpiryDate" class="form-control expiry-date-mask-edit" placeholder="MM/YY">
                            </div>
                            <div class="col-6 col-md-3">
                                <label class="form-label" for="modalEditCvv">CVV Code</label>
                                <div class="input-group input-group-merge">
                                    <input type="text" id="modalEditCvv" name="CVVCode" class="form-control cvv-code-mask-edit" maxlength="3" placeholder="654">
                                    <span class="input-group-text cursor-pointer" id="modalEditCvv2"><i class="bx bx-help-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Card Verification Value" data-bs-original-title="Card Verification Value"></i></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-switch">
                                    <input type="checkbox" class="form-check-input" id="editPrimaryCard" name="IsPrimary">
                                    <label for="editPrimaryCard">Set as primary card</label>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary me-sm-4 me-1">Submit</button>
                                <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                            </div>
                            <input type="hidden">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Add New Credit Card Modal -->
        <!-- Add New Address Modal -->
        <div class="modal fade" id="addNewAddress" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-simple modal-add-new-address">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="text-center mb-6">
                            <h4 class="address-title mb-2">Add New Address</h4>
                            <p class="address-subtitle">Add new address for express delivery</p>
                        </div>
                        <form id="addNewAddressForm" class="row g-6 fv-plugins-bootstrap5 fv-plugins-framework" asp-action="EditAddress" method="post">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-md mb-md-0 mb-4">
                                        <div class="form-check custom-option custom-option-icon checked">
                                            <label class="form-check-label custom-option-content" for="customRadioHome">
                                                <span class="custom-option-body">
                                                    <i class="bx bx-home"></i>
                                                    <span class="custom-option-title">Home</span>
                                                    <small> Delivery time (9am – 9pm) </small>
                                                </span>
                                                <input name="customRadioIcon" class="form-check-input" type="radio" value="" id="customRadioHome" checked="">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md mb-md-0 mb-4">
                                        <div class="form-check custom-option custom-option-icon">
                                            <label class="form-check-label custom-option-content" for="customRadioOffice">
                                                <span class="custom-option-body">
                                                    <i class="bx bx-briefcase"></i>
                                                    <span class="custom-option-title"> Office </span>
                                                    <small> Delivery time (9am – 5pm) </small>
                                                </span>
                                                <input name="customRadioIcon" class="form-check-input" type="radio" value="" id="customRadioOffice">
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 fv-plugins-icon-container">
                                <label class="form-label" for="modalAddressFirstName">First Name</label>
                                <input type="text" id="modalAddressFirstName" name="FirstName" class="form-control" placeholder="John">
                                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                            </div>
                            <div class="col-12 col-md-6 fv-plugins-icon-container">
                                <label class="form-label" for="modalAddressLastName">Last Name</label>
                                <input type="text" id="modalAddressLastName" name="LastName" class="form-control" placeholder="Doe">
                                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                            </div>
                            <div class="col-12">
                                <label class="form-label" for="modalAddressCountry">Country</label>
                                <div class="position-relative">
                                    <div class="position-relative">
                                        <select id="modalAddressCountry" name="Country" class="form-select" data-allow-clear="true">
                                            <option value="">Select</option>
                                            <option value="Australia">Australia</option>
                                            <option value="Bangladesh">Bangladesh</option>
                                            <option value="Belarus">Belarus</option>
                                            <option value="Brazil">Brazil</option>
                                            <option value="Canada">Canada</option>
                                            <option value="China">China</option>
                                            <option value="France">France</option>
                                            <option value="Germany">Germany</option>
                                            <option value="India">India</option>
                                            <option value="Indonesia">Indonesia</option>
                                            <option value="Israel">Israel</option>
                                            <option value="Italy">Italy</option>
                                            <option value="Japan">Japan</option>
                                            <option value="Korea">Korea, Republic of</option>
                                            <option value="Mexico">Mexico</option>
                                            <option value="Philippines">Philippines</option>
                                            <option value="Russia">Russian Federation</option>
                                            <option value="South Africa">South Africa</option>
                                            <option value="Thailand">Thailand</option>
                                            <option value="Turkey">Turkey</option>
                                            <option value="Ukraine">Ukraine</option>
                                            <option value="United Arab Emirates">United Arab Emirates</option>
                                            <option value="United Kingdom">United Kingdom</option>
                                            <option value="United States">United States</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <label class="form-label" for="modalAddressAddress1">Address Line 1</label>
                                <input type="text" id="modalAddressAddress1" name="AddressLine1" class="form-control" placeholder="12, Business Park">
                            </div>
                            <div class="col-12">
                                <label class="form-label" for="modalAddressAddress2">Address Line 2</label>
                                <input type="text" id="modalAddressAddress2" name="AddressLine2" class="form-control" placeholder="Mall Road">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalAddressLandmark">Landmark</label>
                                <input type="text" id="modalAddressLandmark" name="Landmark" class="form-control" placeholder="Nr. Hard Rock Cafe">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalAddressCity">City</label>
                                <input type="text" id="modalAddressCity" name="City" class="form-control" placeholder="Los Angeles">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalAddressState">State</label>
                                <input type="text" id="modalAddressState" name="State" class="form-control" placeholder="California">
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalAddressZipCode">Zip Code</label>
                                <input type="text" id="modalAddressZipCode" name="ZipCode" class="form-control" placeholder="99950">
                            </div>
                            <div class="col-12">
                                <div class="form-check form-switch my-2 ms-2">
                                    <input type="checkbox" class="form-check-input" id="billingAddress" name="IsBillingAddress">
                                    <label for="billingAddress" class="switch-label">Use as a billing address?</label>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary me-3">Submit</button>
                                <button type="reset" class="btn btn-label-secondary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                            </div>
                            <input type="hidden">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Add New Address Modal -->
        <!-- Add New Credit Card Modal -->
        <div class="modal fade" id="addNewCCModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered1 modal-simple modal-add-new-cc">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="text-center mb-6">
                            <h4 class="mb-2">Add New Card</h4>
                            <p>Add new card to complete payment</p>
                        </div>
                        <form id="addNewCCForm" class="row g-6 fv-plugins-bootstrap5 fv-plugins-framework" asp-action="AddPaymentMethod" method="post">
                            <div class="col-12 fv-plugins-icon-container">
                                <label class="form-label w-100" for="modalAddCard">Card Number</label>
                                <div class="input-group input-group-merge has-validation">
                                    <input id="modalAddCard" name="CardNumber" class="form-control credit-card-mask" type="text" placeholder="1356 3215 6548 7898" aria-describedby="modalAddCard2">
                                    <span class="input-group-text cursor-pointer" id="modalAddCard2"><span class="card-type me-n2"></span></span>
                                </div>
                                <div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                            </div>
                            <div class="col-12 col-md-6">
                                <label class="form-label" for="modalAddCardName">Name</label>
                                <input type="text" id="modalAddCardName" name="CardName" class="form-control" placeholder="John Doe">
                            </div>
                            <div class="col-6 col-md-3">
                                <label class="form-label" for="modalAddCardExpiryDate">Exp. Date</label>
                                <input type="text" id="modalAddCardExpiryDate" name="ExpiryDate" class="form-control expiry-date-mask" placeholder="MM/YY">
                            </div>
                            <div class="col-6 col-md-3">
                                <label class="form-label" for="modalAddCardCvv">CVV Code</label>
                                <div class="input-group input-group-merge">
                                    <input type="text" id="modalAddCardCvv" name="CVVCode" class="form-control cvv-code-mask" maxlength="3" placeholder="654">
                                    <span class="input-group-text cursor-pointer ps-0" id="modalAddCardCvv2"><i class="bx bx-help-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Card Verification Value" data-bs-original-title="Card Verification Value"></i></span>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-check form-switch my-2 ms-2">
                                    <input type="checkbox" class="form-check-input" id="futureAddress" name="SaveForFuture">
                                    <label for="futureAddress" class="switch-label">Save card for future billing?</label>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <button type="submit" class="btn btn-primary me-3">Submit</button>
                                <button type="reset" class="btn btn-label-secondary btn-reset" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
                            </div>
                            <input type="hidden">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Add New Credit Card Modal -->
        <!-- Add New Credit Card Modal -->
        <div class="modal fade" id="upgradePlanModal" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-simple modal-upgrade-plan">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <div class="text-center mb-6">
                            <h4 class="mb-2">Upgrade Plan</h4>
                            <p>Choose the best plan for user.</p>
                        </div>
                        <form id="upgradePlanForm" class="row g-4" asp-action="UpgradePlan" method="post">
                            <div class="col-sm-9">
                                <label class="form-label" for="choosePlan">Choose Plan</label>
                                <select id="choosePlan" name="Plan" class="form-select" aria-label="Choose Plan">
                                    <option selected="">Choose Plan</option>
                                    <option value="standard">Standard - $99/month</option>
                                    <option value="exclusive">Exclusive - $249/month</option>
                                    <option value="Enterprise">Enterprise - $499/month</option>
                                </select>
                            </div>
                            <div class="col-sm-3 d-flex align-items-end">
                                <button type="submit" class="btn btn-primary">Upgrade</button>
                            </div>
                        </form>
                    </div>
                    <hr class="mx-5 my-2">
                    <div class="modal-body">
                        <p class="mb-0">User current plan is standard plan</p>
                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                            <div class="d-flex justify-content-center me-2 mt-1">
                                <sup class="h6 pricing-currency pt-1 mt-2 mb-0 me-1 text-primary fw-normal">$</sup>
                                <h1 class="mb-0 text-primary">99</h1>
                                <sub class="pricing-duration mt-auto mb-5 pb-1 small text-body">/month</sub>
                            </div>
                            <button class="btn btn-label-danger cancel-subscription">Cancel Subscription</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ Add New Credit Card Modal -->
        <!-- /Modal -->
    </div>
    <!-- / Content -->
</div>
